[Desktop Entry]
Name=Lyrics Plugin
Comment=Adds a pane that fetches and displays lyrics for currently playing song

Type=Service
X-TepSonic-Plugin-Id=lyrics
X-TepSonic-Plugin-EnabledByDefault=true
X-TepSonic-Plugin-Library=libtepsonic_lyricsplugin
X-TepSonic-Plugin-Version=1.0
X-TepSonic-Plugin-Author=Dan Vrátil
X-TepSonic-Plugin-Email=dan@progdan.cz
