[Desktop Entry]
Name=MPRIS2 Plugin
Comment=Enables MPRIS2 interface

Type=Service
X-TepSonic-Plugin-Id=mpris2
X-TepSonic-Plugin-EnabledByDefault=true
X-TepSonic-Plugin-Library=libtepsonic_mpris2plugin
X-TepSonic-Plugin-Version=1.0
X-TepSonic-Plugin-Author=Dan Vrátil
X-TepSonic-Plugin-Email=dan@progdan.cz
